<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load staticfiles %}
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>生鲜超市-{{ info }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<script src="{% static 'js/lib/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="/static/js/lib/slide.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/commonstyle.css">
	{% block js %}
	{% endblock js%}
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">生鲜超市欢迎你的光临!</div>
			<div class="fr">
				<div class="login_btn fl">
					欢迎您：<em>{{ name }}</em><span>|</span>
					<a href="{% url 'users:exit' %}">安全退出</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="{% url 'goods:index' %}">首页</a>
					<span>|</span>
					<a href="{% url 'users:info' %}">用户中心</a>
					<span>|</span>
					<a href="{% url 'cart:cart' %}">我的购物车</a>
					<span>|</span>
					<a href="{% url 'users:order' 1 %}">我的订单</a>
				</div>
			</div>
		</div>
	</div>

	<div class="search_bar clearfix">
		<a href="{% url 'goods:index' %}" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;{{ info }}</div>

		<div class="search_con fr">
			<form action="/search" method="get">
				<input type="text" class="input_text fl" name="q" placeholder="搜索商品">
				<input type="submit" class="input_btn fr" name="" value="搜索">
			</form>
		</div>

	</div>

	{% block body %}{% endblock body %}


	<div class="footer no-mp">

		<div class="footerinner">
			<ul class="share">
				<li>
					<img class="weibo_icon" src="/static/images/share1.png" alt="">
				</li>
				<li>
					<img class="qq_icon" src="/static/images/share2.png" alt="">
				</li>
				<li>
					<img class="twitter_icon" src="/static/images/share3.png" alt="">
				</li>
				<li>
					<img class="wechat_icon" src="/static/images/share4.png" alt="">
				</li>
			</ul>
			<div class="code_wrap">
				<ul class="code">
					<!--<li><img class="weibo" src="/static/images/weibo1.png" alt=""></li>-->
					<!--<li><img class="qq" src="/static/images/qq1.png" alt=""></li>-->
					<!--<li><img class="twitter" src="/static/images/twitter1.png" alt=""></li>-->
					<!--<li><img class="wechat" src="/static/images/wechat1.png" alt=""></li>-->
				</ul>
			</div>
			<div class="footerinfo">
				<div class="footerinfoTop">
					<p>Telephone&Fax:&nbsp;+86(10)&nbsp;24336821&nbsp;;&nbsp;+86(22)&nbsp;24336822  </p>
					<p>Email：&nbsp;miludebeike@163.com</p>
					<p>河南省南阳市永发集团有限公司</p>
					<p>天津市南开区红旗南路科技大厦四层</p>
				</div>
				<div class="footerinfoBottom">
					<p>生鲜超市有限责任公司</p>
					<p class="min">YBDTZ&nbsp;Invuuuyytmentt&nbsp;Company&nbsp;Limited</p>
					<p>皖通有限公司</p>
					<p class="min">WiToDa&nbsp;Enterprise&nbsp;Management&nbsp;Consulting&nbsp;Co.,&nbsp;Ltd.</p>
				</div>
			</div>
		</div>
	</div>




</body>
</html>